.page {
  min-height: 100vh;
  background: #0e0e0e;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  position: relative;
  overflow-x: hidden;
}

/* Privacy policy button is top left on desktop and bottom left on mobile */
.privacyButton {
  /* Ensure the button is above the hero section on smaller desktop screens */
  z-index: 10;
}

/* Tablet and desktop styles */
@media (min-width: $mantine-breakpoint-sm) {
  .privacyButton {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }
}

/* Mobile styles */
@media (max-width: $mantine-breakpoint-sm) {
  .privacyButton {
    margin-bottom: 1rem;
    margin-left: 0.5rem;
  }
}

.main {
  position: relative;
  z-index: 1;
  max-width: 75rem;
  margin: 3rem auto 0rem;
  padding: 5rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 72rem;
  margin: 0 auto;
  padding: 0.125rem;
  align-items: flex-start;
}

/* Tablet and desktop styles */
@media (min-width: $mantine-breakpoint-md) {
  .main {
    gap: 3rem;
  }

  .grid {
    flex-direction: row;
    /* padding: 3rem; */

  }

  .grid>* {
    flex: 1;
  }
}